h2{
  color:white;
  text-align:center;
  text-decoration:underline;
}

body{
    background-image: url("background.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:white;
  }
